*{
    padding: 0;
    margin: 0;
    
}
.navigation{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background-color: antiquewhite;
   
    
}
.logo_nav{
    display: flex;
    gap: 30px;
    align-items: center;
    padding-left: 10px;
    
}
.logo_nav button{
    cursor: pointer;
    margin-left: 5px;
}
.search_box input{
    width: 500px;
    height: 35px;
    border-radius: 5px;
    text-align: start;
    padding-left: 50px;
    cursor:text;
    
}

.profile_nav{
    display: flex;
    gap: 13px;
    padding-right: 10px;
    
}
.profile_nav button{
    cursor: pointer;
}
.left_navbar ul{
    
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 10px;
    padding-left: 15px;
    padding-right: 0px;
    gap: 20px;
    list-style: none;
    cursor: pointer;
    font-size: 15px;
}
main{
    display: flex;
}
.profile{
    display: flex;
    flex-direction: column;
    width: 500px;
    

    
}
.chat_head{
    display: flex;
    justify-content:space-between;
    background-color: rgb(187, 181, 173);
    height: 70px;
    align-items: center;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}
.chat_profile{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background-color:antiquewhite;
    height: 100%;
    
}
.pinned{
    display: flex;
    flex-direction: column;
    height: 20%;
    
}
.pinned .button{
    display: flex;
    height: 10px;
    font-size: 10px;
    
    align-items: center;
    padding-top: 20px;
    padding-left: 5px;

    
}
.pinned .button button{
    display: flex;
    border: none;
    cursor: pointer;
    background-color: antiquewhite;
}
.card{
    display: flex;
    align-items: center;
    height: 80px;
    padding: 10px;
    
}

.card button{
    display: flex;
    width: 80%;
    gap: 10px;
    padding: 10px;
    
    cursor: pointer;
    background-color: antiquewhite;
    border: none;

}
.card button img{
    height: 30px;
    width: 30px;
}

